/* Color palette

#ffffff - white
#f8f8f8 - light grey
#000000 - black
#ff0000 - red
#1573dd - blue

*/

/* Header
------------------------------------*/
h1 {
  font-size: 100px;
  margin-top: 120px;
  margin-bottom: 60px;
  line-height: 110px;
  margin-left: 18px;
}

@media (max-width: 1070px) {
  h1 {
    font-size: 80px!important;
    line-height: 90px!important;
    text-align: center;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 70px!important;
    line-height: 80px!important;
    text-align: center;
  }
}
@media (max-width: 512px) {
  h1 {
    font-size: 60px!important;
    line-height: 70px!important;
    text-align: center;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 60px!important;
    line-height: 70px!important;
    text-align: center;
  }
}

/* Contact form
------------------------------------*/
#contact-form {
  margin-bottom: 80px;
}
input, textarea {
  font-family: 'Maison Neue Mono', monospace;
  font-size: 16px;
  max-width: 500px;
  min-width: 280px;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 15px 30px;
  display: block;
  margin-top: 10px;
  animation: all .4s ease-in-out;
}
input:focus, textarea:focus, input:hover, textarea:hover {
  border-color: rgba(0,0,0,1);
}
.btn-send, .text-message {
  margin-top: 20px;
  display: block;
}
.btn-send:hover {
  color: #ffffff;
  background: #000000;
}
